files:
  "/etc/httpd/conf.d/elasticbeanstalk/00_application.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTP direto (sem redirecionar para HTTPS) → proxy para app na 8080
      <VirtualHost *:80>
          ServerName girus.pipastudios.com
          ServerAlias *
          ProxyPreserveHost On
          ProxyPass / http://127.0.0.1:5000/
          ProxyPassReverse / http://127.0.0.1:5000/
          ErrorLog /var/log/httpd/elasticbeanstalk-http-error.log
          CustomLog /var/log/httpd/elasticbeanstalk-http-access.log combined
      </VirtualHost>

      # HTTPS será habilitado depois
