packages:
  yum:
    certbot: []
    python3-certbot-nginx: []

files:
  "/var/www/letsencrypt/.well-known/acme-challenge/_health":
    mode: "000644"
    owner: root
    group: root
    content: |
      ok
  "/etc/cron.d/certbot":
    mode: "000644"
    owner: root
    group: root
    content: |
      # Renew Let's Encrypt certificates daily
      0 3 * * * root /usr/bin/certbot renew --staging --quiet --no-self-upgrade --deploy-hook "systemctl reload nginx"

commands:
  01_create_webroot:
    command: "mkdir -p /var/www/letsencrypt/.well-known/acme-challenge && chmod -R 755 /var/www/letsencrypt"

