commands:
  00_remove_conflicts:
    command: "rm -f /etc/nginx/conf.d/ssl_app.conf /etc/nginx/conf.d/elasticbeanstalk/00_app.conf /etc/nginx/conf.d/catchall.conf /etc/nginx/conf.d/app.conf || true"
    ignoreErrors: true
  01_reload_nginx:
    command: "service nginx reload || systemctl reload nginx || true"
    ignoreErrors: true

